/* Main */
#conteudo {
    position: absolute;
    top: 50%;
 }


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 41px 0 73px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-family: 'Lexend Deca', sans-serif;
    text-decoration: none;
    font-weight: 400;
}

input {
    max-width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: rgba(255, 255, 255,20%);
}

.txtBusca {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 80%)
}

 article {
    margin-bottom: 50px;
    background-color: var(--white);
    box-shadow: 0px 0px 10px rgba(19, 19, 31, 0.05);
    border-radius: 5px;
    padding: 25px;
 }

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    margin-bottom: 22px;
    font-family:'Lexend Deca', sans-serif; 
    font-size: 16px;
    color: var(--text);
}

span h2 {
    margin-bottom: 8px;
    font-family:'Lexend Deca', sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: var(--title);
}

span p {
    line-height: 1.5em;
    font-family:'Lexend Deca', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--text);
}

span a {
    line-height: 1.8em;
    font-family:'Lexend Deca', sans-serif;
    font-size: 16px;
    font-weight: 400;
}